<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::conteudo})}">
<body>
<div th:fragment="conteudo">
    <h2>Detalhes da Ocorrência</h2>
    <p><strong>ID:</strong> <span th:text="${ocorrencia.id}"></span></p>
    <p><strong>Título:</strong> <span th:text="${ocorrencia.titulo}"></span></p>
    <p><strong>Descrição:</strong> <span th:text="${ocorrencia.descricao}"></span></p>
    <p><strong>Data Registro:</strong> <span th:text="${ocorrencia.dataRegistro}"></span></p>
    <p><strong>Número da Ocorrência:</strong> <span th:text="${ocorrencia.numeroOcorrencia}"></span></p>
    <p><strong>Código da Ocorrência:</strong> <span th:text="${ocorrencia.codigoOcorrencia}"></span></p>
    <p><strong>Local da Ocorrência:</strong> <span th:text="${ocorrencia.localOcorrencia}"></span></p>
    <p><strong>Status:</strong> <span th:text="${ocorrencia.statusConcluido ? 'Concluída' : 'Em aberto'}"></span></p>
    <p><strong>Categoria:</strong> <span th:text="${ocorrencia.categoria}"></span></p>

    <a href="/web/ocorrencias" class="btn">Voltar à lista</a>
</div>
</body>
</html>
