* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*body {
    background-color: #202020;
    background-size: cover;
    color: #ffffff;
    line-height: 1.6;
    min-height: 100vh;
}*/
body {
    background-color: #000000;
    background-image:
            linear-gradient(90deg, transparent 50%, #414143 50.5%, transparent 51%),
            linear-gradient(0deg, transparent 50%, #414143 50.5%, transparent 51%);
    background-size: 720px 720px;
    background-position: 0 0;
    background-repeat: repeat;
    color: #ffffff;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    background-color: transparent;
    padding: 15px 30px;
    height: 70px;
    width: 100%;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #414143;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    transition: background 0.3s, color 0.3s;

}

.navbar-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
}
.navbar-menu li {
    position: relative;
}
.navbar-menu li a {
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    transition: background 0.3s, color 0.3s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #161618;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border: 1px solid #414143;
    border-radius: 4px;
    top: 100%;
    left: 0;
    z-index: 1500;
}
.dropdown-content li a {
    padding: 10px 15px;
    color: #ffffff;
    font-weight: normal;
    white-space: nowrap;
}
.dropdown-content li a:hover {
    background-color: #414143;
    color: #fff;
}


.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: transparent;
    padding: 15px 30px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding-top: 150px;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

p {
    margin-bottom: 15px;
}

form {
    background-color: #1a1a1a;
    padding: 20px;
    border: 2px solid #ff0000;
    border-radius: 8px;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #0b0b0b;
    color: #ffffff;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #0b0b0b;
    color: #ffffff;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #ffffff;
}

button, .btn {
    padding: 10px 20px;
    background-color: #680000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(27, 0, 0);
    transition: background 0.3s;
    text-decoration: none;
    display: inline-block;
}
.btn-secondary {
    max-width: 200px;
    padding: 10px 20px;
    background-color: #680000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(27, 0, 0);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #ff0000;
    box-shadow: 0 6px 12px rgb(255, 255, 255);
    text-decoration: none;
}


button:hover,
.btn:hover {
    background-color: #ff0000;
}

.btn-floating {
    position: fixed;
    right: 32px;
    top: 100px;
    z-index: 1100;
}
.lista-container {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 20px;
}


table {
    width: 100%;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 3px transparent;
    text-align: left;
}

table th {
    background-color: #4a0000;
}

table tr:nth-child(even) {
    background-color: #0d0d0d;
}
table tr:nth-child(odd) {
    background-color: #222222;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    form {
        padding: 15px;
    }

    table th, table td {
        padding: 8px;
    }
}
.home-background {
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

body.login-page .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.autenticacao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 400px;
    width: 90%;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

