<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::conteudo})}">
<body>
<div th:fragment="conteudo">
    <h2>Lista de Agentes</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agente : ${agentes}">
            <td th:text="${agente.id}"></td>
            <td th:text="${agente.nome}"></td>
            <td th:text="${agente.matricula}"></td>
            <td>
                <a th:href="@{'/web/agentes/' + ${agente.id}}">Detalhes</a> |
                <a th:href="@{'/web/agentes/editar/' + ${agente.id}}">Editar</a> |
                <a th:href="@{'/web/agentes/excluir/' + ${agente.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/web/agentes/novo" class="btn">Novo Agente</a>
</div>
</body>
</html>
