<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::conteudo})}">
<body>
<div th:fragment="conteudo">
    <h2>Detalhes da Delegacia</h2>
    <p><strong>ID:</strong> <span th:text="${delegacia.id}"></span></p>
    <p><strong>Título:</strong> <span th:text="${delegacia.titulo}"></span></p>
    <p><strong>Delegado Responsável:</strong> <span th:text="${delegacia.delegadoResponsavel}"></span></p>
    <p><strong>Endereço:</strong> <span th:text="${delegacia.endereco}"></span></p>
    <p><strong>Telefone:</strong> <span th:text="${delegacia.telefone}"></span></p>
    <a href="/web/delegacias">Voltar à lista</a>
</div>
</body>
</html>
