<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <title>Sistema de Registro de Ocorrência</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>Sistema de Registro de Ocorrência</h1>
<nav>
    <ul>
        <li><a href="/web/agentes">Agentes</a></li>
        <li><a href="/web/delegacias">Delegacias</a></li>
        <li><a href="/web/noticiantes">Noticiantes</a></li>
        <li><a href="/web/ocorrencias">Ocorrências</a></li>
        <li><a href="/web/terceiros">Terceiros</a></li>
    </ul>
</nav>
</body>
</html>
