<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::conteudo})}">
<body>
<div th:fragment="conteudo">
    <div class="lista-container">
    <h2>Lista de Noticiantes</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome Completo</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="noticiante : ${noticiantes}">
            <td th:text="${noticiante.id}"></td>
            <td th:text="${noticiante.nomeCompleto}"></td>
            <td th:text="${noticiante.cpf}"></td>
            <td>
                <a th:href="@{'/web/noticiantes/editar/' + ${noticiante.id}}">Editar</a> |
                <a th:href="@{'/web/noticiantes/excluir/' + ${noticiante.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="actions-bar">
        <form th:action="@{/web/noticiantes}" method="get" class="search">
            <input type="text" name="nome" placeholder="Buscar noticiantes por nome"
                   th:value="${nome}" />
            <button type="submit" class="btn btn-buscar">Buscar</button>
        </form>
        <a href="/web/noticiantes/novo" class="btn btn-floating">Novo Noticiante</a>
    </div>
</div>
</body>
</html>
