<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::conteudo})}">
<body>
<div th:fragment="conteudo">
    <h2 th:text="${terceiro.id} != null ? 'Editar Terceiro' : 'Novo Terceiro'"></h2>
    <form th:action="@{/web/terceiros/salvar}" th:object="${terceiro}" method="post">
        <label>Nome Completo:</label>
        <input type="text" th:field="*{nomeCompleto}" required /><br/>
        <label>CPF:</label>
        <input type="text" th:field="*{cpf}" required /><br/>
        <label>RG:</label>
        <input type="text" th:field="*{rg}" required /><br/>
        <label>Idade:</label>
        <input type="number" th:field="*{idade}" required /><br/>
        <label>Endereço:</label>
        <input type="text" th:field="*{endereco}" required /><br/>
        <label>Telefone:</label>
        <input type="text" th:field="*{telefone}" required /><br/>
        <div class="form-group">
        <button type="submit">Salvar</button>
        <a th:href="@{/web/terceiros}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>
